*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
input,
textarea {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

html {
  font-size: 16px;
  line-height: 1.4;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
  background: #fff;
}

.header {
  max-width: 1056px;
  margin: 0 auto;
  padding: 0 16px;
  height: 80px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.content {
  max-width: 1056px;
  margin: 0 auto;
  padding: 0 16px;
}

button {
  width: 106px;
  height: 47px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: background 0.15s ease;
}

.button:hover {
  background: #ccc;
}

.button--primary {
  font-weight: 900;
}
