*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
input,
textarea {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

html {
  font-size: 16px;
  line-height: 1.4;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
  background: #fff;
}

.header {
  max-width: 1056px;
  margin: 0 auto;
  padding: 0 16px;
}

.content {
  max-width: 1056px;
  margin: 0 auto;
  padding: 0 16px;
}
