/* ==========
  CSS reset
========== */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
input,
textarea {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

/* ==========
  Base styles
========== */

html {
  font-size: 16px;
  line-height: 1.4;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
  background: #fff;
}

/* ==========
  Button
========== */

button {
  width: 106px;
  height: 47px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: background 0.15s ease;
}

.button:hover {
  background: #ccc;
}

.button--primary {
  font-weight: 900;
}

/* ==========
  Layout
========== */

.header {
  max-width: 1056px;
  margin: 0 auto;
  padding: 0 16px;
  height: 80px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.content {
  max-width: 1056px;
  margin: 0 auto;
  padding: 0 16px;
}

/* ==========
  Input section
========== */

.input-section {
  margin-top: 20px;
}

.input {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 4px;
  font-size: 20px;
}

/* ==========
  Text section
========== */

.text-section {
  margin-top: 8px;
}

.text {
  width: 100%;
  font-size: 20px;
  height: 5.6em;
  user-select: none;
}

/* ==========
  Keyboard section
========== */

.keyboard-section {
  margin-top: 32px;
}

.keyboard {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.keys-line {
  display: flex;
  justify-content: space-between;
}

.keys-line--space {
  justify-content: center;
}

.key {
  width: 62px;
  height: 62px;
  border: 1px solid #ccc;
  border-radius: 8px;
  line-height: 62px;
  text-align: center;
  user-select: none;
  transition: background 0.15s ease;
}

.key--small {
  height: 47px;
  line-height: 47px;
}

.key--wide {
  width: 106px;
}

.key--medium-wide {
  width: 120px;
}

.key--extra-wide {
  width: 154px;
}

.key--space {
  width: 686px;
}

.key.active {
  background: #ccc;
}
